.ant-input {
	background-color: #1d2b38;
	color: rgba($color: #ffffff, $alpha: 0.5);
	border: 1px solid white;
	border-radius: 5px;
}

.ant-input-search-button {
	background-color: #1d2b38;
	color: white;
}
